<div class="page-header">
  <h1>Tracking Number Status #<%= @tracking_number_status.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Status</dt>
  <dd><%= @tracking_number_status.status %></dd>

</dl>
